* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ffffdd;
  margin: 0px;
}
p {
  margin-bottom: 0px;
  margin-top: 0px;
}
label {
  font-size: 13px;
}
table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.asterisk {
  color: red;
}
.form-table {
  width: 100%;
}
.form-title-container {
  background-color: #8c2020;
  color: white;
}
.form-main-title {
  margin-bottom: 0px;
  margin-top: 5px;
}
.anchor-guide {
  color: #d47808;
}
.form-sub-title {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
  margin-top: 5px;
}
.field-title {
  font-size: 12px;
  font-weight: bold;
}
.citizen-margin {
  margin-right: 50px;
}
.checkbox {
  width: 25px;
}
.span-inline {
  display: inline-block;
  width: 250px;
}
.span-blue {
  color: blue;
  font-weight: 400;
}
