* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ffffdd;
  margin: 0px;
  padding: 15px;
}
p {
  margin: 0 0;
}
label {
  font-size: 13px;
}
table,
tr,
td {
  border: 1px solid rgb(118, 118, 118);
  border-collapse: collapse;
}
td {
  padding: 0px;
}
.dp-block {
  display: block;
}
.asterisk {
  color: red;
}
.asterisk-yellow {
  color: #ffffdd;
}
.form-table {
  width: 100%;
}
.form-title-container {
  background-color: #8c2020;
  color: white;
}
.form-main-title {
  margin-bottom: 0px;
  margin-top: 5px;
}
.anchor-guide {
  color: #d47808;
}
.form-sub-title {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
  margin-top: 5px;
}
.field-title {
  font-size: 12px;
  font-weight: bold;
}
.field-title-med {
  font-size: 12px;
  font-weight: 500;
}
.field-title-big {
  font-size: 14px;
  font-weight: 400;
}
.citizen-margin {
  margin-right: 50px;
}
.checkbox {
  width: 25px;
}
.span-inline {
  display: inline-block;
  width: 250px;
}
.second-col-width {
  width: 500px;
}
.span-blue {
  color: blue;
  font-size: 12px;
  font-weight: bold;
}
.name-input-field {
  width: 300px;
}
.label-left-align {
  margin-left: 20px;
}

.dob-block {
  display: inline-block;
  width: 50px;
}
.year-text-box {
  width: 50px;
}
.fw-bold {
  font-weight: bold;
}
.italics-light {
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}
.address-field {
  width: 250px;
}
.address-field-mid {
  width: 200px;
}
.address-field-max {
  width: 350px;
}
.address-field-min {
  width: 100px;
}
.other-proof-link:link,
.other-proof-link:visited {
  color: black;
}
.field-title-light {
  font-size: 12px;
  font-weight: 400;
}
.full-width {
  width: 100%;
}
.full-width-75p {
  width: 75%;
}
.label-small {
  font-size: 12px;
}
.inner-table {
  border-left: 0;
}
.inner-table td {
  padding: 1px;
}
.inner-table tr:last-child td {
  border-bottom: 0;
}
.italic-blue-dark {
  color: darkblue;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
.form-field-small {
  width: 50px;
}
.mt-5 {
  margin-top: 5px;
}
.sign-date {
  display: inline-block;
  font-size: 12px;
  width: 17px;
}
.select-proof {
  width: 95%;
}
.select-proof-1 {
  width: 75%;
}
.select-proof-2 {
  width: 85%;
}
.ml-20 {
  margin-left: 20px;
}
.select-dsc {
  width: 200px;
  margin-right: 25px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.upload-space {
  margin-right: 30%;
}
.exisiting-label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  width: 500px;
}
.photo-width{
  width:250px;
}
.sign-width{
  width:200px;
}
.doc-width{
  width:370px;
  height:150px;
}
.upload-doc-label{
  position: relative;
  bottom: 60px;
}
.submit-button{
  margin-left:650px;
}